<html>
    <head>
        <title>Atsumori test</title>
    </head>
    <body>
        <div>
            <h1><a href="/">Atsumori test page</a></h1>
        </div>

        
        {% for moriuser in moriusers %}
            <div>
                <h2><a href = "">{{ moriuser.user_name }}</a></h2>
                <p>want: {{ moriuser.want|linebreaksbr }}</p>
                <p>equip: {{ moriuser.equip|linebreaksbr }}</p>
                <p>fixed: {{ moriuser.fixed_date }}</p>
            </div>
        {% endfor %}

    </body>
</html>